<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.whz.androidneuralnetwork">

    <application
        android:name=".component.DebugApp"
        android:label="Debug"
        tools:replace="android:name, android:label">
    </application>
</manifest>